{% extends "base.html" %}

{% block content %}
<form action="{% url 'personal_account' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field }}
    {% endfor %}


    <button type="submit" class="btn btn-success">Submit</button>
</form>


<h3><a href="{% url 'password_reset' %}">password reset</a></h3>
<br>
<div>
    <br>
    <p>избранное:</p>
    {% for i in favorites %}
    <a class="sidebar-brand" href="{% url 'ready_var' pk=i select='7ffffff' %}">Вариант {{ i }}</a>
    {% endfor %}
</div>
{% endblock %}